<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="followed" class="stat">
      <%= @user.following_user_ids.count %>
    </strong>
    follower
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="follower" class="stat">
      <%= @user.follower_user_ids.count %>
    </strong>
    followed
  </a>
</div>